<p id="pagetitle">
  Lambda Links
</p>

<img src="http://lambdageneration.com/files/logos/logo.png" width=" 400", height="400">

<p>
  <%= @errors if @errors %>
</p>

<div>
  <form autocomplete="off" action= "/urls" method="post">
	<p id="promptmessage"> Enter URL </p> 
	<input type ="text" name="long_url">
</div>

<div>  
  <input type="submit" value="Submit">
    </form>
</div>

<div>
<table>
  <tr>
    <th>URL</th>
    <th>Short URL</th>
    <th>Clicks!</th>
  </tr>
 <% @urls.each do |url| %>
   <tr> 
   	<td><%= url.url%></td>
   	<td><a href="<%=url.short_url%>"><%= url.short_url%></a></td>
   	<td><%= url.click_count%></td>
   </tr>
 <% end %>
</table> 
</div>


