<p id="pagetitle">
  Bitly Clone
</p>

<p>
  This shortens your urls! Give it a go (:
</p>

<p>
  <%= @errors if @errors %>
</p>

<div>
  <form action= "/urls" method="post">
	<p> Enter URL </p> 
	<input type ="text" name="long_url">
</div>

<div>  
  <input type="submit" value="Submit">
    </form>
</div>

<table>
  <tr>
    <th>URL</th>
    <th>Short URL</th>
    <th>Clicks!</th>
  </tr>
 <% @urls.each do |url| %>
   <tr> 
   	<td><%= url.url%></td>
   	<td><a href="<%=url.short_url%>"><%= url.short_url%></a></td>
   	<td><%= url.click_count%></td>
   </tr>
 <% end %>
</table> 



